<div class="card">
    <div class="card-header">
        <h1>Ingreso de insumos</h1>
    </div>
    <div class="card-body">
        <form action="/insumos/add" method="POST">
            <labell for="cuadrilla">Ingrese c처digo</labell>
            <input type="text" class="form-control mb-2" name="codigo" value="{{codigoInsumo.codigoInsumo}}" placeholder="c처digo de insumo">
            <labell for="cuadrilla">Ingrese descripcion</labell>
            <input type="text" class="form-control mb-2" name="insumo" value="{{codigoInsumo.codigoInsumo}}" placeholder="insumo">

            <button class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h1>Lista de insumos</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>N째</th>
                    <th>C처digo</th>
                    <th>Insumos</th>
                    {{!-- <th></th> --}}
                </tr>
            </thead>
            <tbody>
               {{#each insumos}}
               <tr>
                <td>{{@index}}</td>
                <td>{{codigo}}</td>
                <td>{{insumo}}</td>
                {{!-- <td><a href="/edit-cuadrilla/{{_id}}">Editar</a></td> --}}
               </tr>
               {{/each}}
            </tbody>
        </table>
    </div>
</div>

