<div class="card">
    <div class="card-header">
        <h1>Ingreso de insumos</h1>
    </div>
    <div class="card-body">
        <form action="/insumosA/add" method="POST">
            <label for="cuadrilla">Ingrese código</label>
            <input type="text" class="form-control mb-2" name="codigo" value="{{codigo}}" placeholder="código de insumo">
            <label for="cuadrilla">Ingrese descripción</label>
            <input type="text" class="form-control mb-2" name="insumo" value="{{insumo}}" placeholder="insumo">
            <label for="cuadrilla">Ingrese unidad</label>
            <input type="text" class="form-control mb-2" name="unidad" value="{{unidad}}" placeholder="unidad">
            <button class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h1>Lista de insumos</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Código</th>
                    <th>Insumos</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               {{#each insumosA}}
               <tr>
                <td>{{@index}}</td>
                <td>{{codigo}}</td>
                <td>{{insumo}}</td>
                <td>{{unidad}}</td>
                <td><a class="btn btn-primary" href="/edit-insumosA/{{_id}}">Editar</a></td>
                <td><form action="/delete-insumosA/{{_id}}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form></td>
               </tr>
               {{/each}}
            </tbody>
        </table>
    </div>
</div>

