<div class="card">
    <div class="card-header">
        <h1>Agregar sitios</h1>
    </div>
    <div class="card-body">
        <form action="/sitios/add" method="POST">
            <labell for="cuadrilla">Ingrese c처digo</labell>
            <input type="text" class="form-control mb-2" name="codigo" value="{{sitio.identificador}}" placeholder="c처digo del sitio">
            <labell for="cuadrilla">Ingrese nombre del sitio</labell>
            <input type="text" class="form-control mb-2" name="sitio" value="{{sitio.sitio}}" placeholder="sitio">
            <button class="btn btn-primary mt-2">Guardar</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h1>Sitios creados</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>N째</th>
                    <th>C처digo del sitio</th>        
                    <th>Sitio</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               {{#each sitios}}
               <tr>
                <td>{{@index}}</td>
                <td>{{identificador}}</td>
                <td>{{sitio}}</td>
                <td><a class="btn btn-primary" href="/edit-sitios/{{_id}}">Editar</a></td>
                <td><form action="/delete-sitios/{{_id}}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form></td>
               </tr>
               {{/each}}
            </tbody>
        </table>
    </div>
</div>